<%= form_with model: lead, id: 'form' do |f|  %>
  <div class="form-row">
    <div class="form-group col-md-6">
      <%= f.label :first_name  %>
      <%= f.text_field :first_name, class: "form-control"  %>
      <%= inline_errors(lead, :first_name) %>
    </div>
    <div class="form-group col-md-6">
      <%= f.label :last_name  %>
      <%= f.text_field :last_name, class: "form-control" %>
      <%= inline_errors(lead, :last_name) %>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-8">
      <%= f.label :address  %>
      <%= f.text_field :address ,class: "form-control"  %>
      <%= inline_errors(lead, :address) %>
    </div>
    <div class="form-group col-md-4">
      <%= f.label :apartment_number, "Apt/Suite"  %>
      <%= f.text_field :apartment_number, class: "form-control"  %>
      <%= inline_errors(lead, :apartment_number) %>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <%= f.label :city  %>
      <%= f.text_field :city, class: "form-control"  %>
      <%= inline_errors(lead, :city) %>
    </div>
    <%# state will eventually be a drop down %>
    <div class="form-group col-md-3">
      <%= f.label :state  %>
      <%= f.collection_select :state, us_states, :last, :first, {include_blank: "Select State"}, {class: "custom-select"}  %>
      <%= inline_errors(lead, :state) %>
    </div>
    <div class="form-group col-md-3">
      <%= f.label :zip  %>
      <%= f.text_field :zip, class: "form-control"  %>
      <%= inline_errors(lead, :zip) %>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <%= f.label :email  %>
      <%= f.text_field :email, class: "form-control"  %>
      <%= inline_errors(lead, :email) %>
    </div>
    <div class="form-group col-md-6">
      <%= f.label :email_confirmation  %>
      <%= f.text_field :email_confirmation, class: "form-control"  %>
      <%= inline_errors(lead, :email_confirmation) %>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6 bg-light border rounded p-3">
        <%= f.label :purchase_timing, "I plan on purchasing my next vehicle within"  %>
        <%= f.collection_radio_buttons :purchase_timing, purchase_timing_options, :itself, :itself do |b| %>
          <div class="form-check">
            <%= b.radio_button class:"form-check-input" %>
            <%= b.label class:"form-check-label" %>
          </div>
        <% end %>
        <%= inline_errors(lead, :purchase_timing) %>
    </div>
    <div class="form-group col-md-6 bg-light border rounded p-3">
        <%= f.label :vehicle, "I am interested in the following Vehicles"  %>
        <%= f.collection_check_boxes :vehicle, vehicle_options, :itself, :itself do |b|  %>
          <div class="form-check">
            <%= b.check_box class:"form-check-input" %>
            <%= b.label class:"form-check-label" %>
          </div>
        <% end %>
        <%= inline_errors(lead, :vehicle) %>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-12 bg-light border rounded p-3">
      <%= f.label :likelihood, "How likely would you be to consider Nissan for your new vehicle purchase?"  %>
      <%= f.collection_radio_buttons :likelihood, likelihood_options, :itself, :itself do |b|  %>
        <div class="form-check">
          <%= b.radio_button class:"form-check-input" %>
          <%= b.label class:"form-check-label" %>
        </div>
      <% end %>
      <%= inline_errors(lead, :likelihood) %>
    </div>
  </div>


  <div class="form-row bg-light border rounded mb-2 p-3">
    <div class="form-group col-md-12">
    <%= f.label :opinion, "What is your overall opinion of Nissan?"  %>
    <br>
      <div class="flex-container">
        <span class="poor-text">Poor</span>
        <%= f.collection_radio_buttons :opinion, (1..10).map{|n| [n,n]}, :first, :last do |b| %>
          <div class="form-check form-check-inline inline-flex-container">
            <%= b.label class:"form-check-label" %>
            <%= b.radio_button class:"form-check-input" %>
          </div>
        <% end %>
        <span>Excellent</span>
      </div>
    </div>
    <%= inline_errors(lead, :opinion) %>
  </div>

  <p>RELEASE OF LIABILITY AND INDEMNITY AGREEMENT AND PUBLICITY AUTHORIZATION</p>
  <%# lorem ipsum indemnity text goes there probably should use a partial%>
  <%= render partial: "release-text" %>

  <div class="form-row">
    <div class="form-group col-md-12">
      <%= f.check_box :release_acceptance %>
      <%= f.label :release_acceptance, "I have read and understood this entire agreement" %>
      <%= inline_errors(lead, :release_acceptance) %>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-12">
      <%= f.hidden_field :signature, class: "signature_pad_input" %>
        <div id="signature-pad" class="signature-pad">
          <div class="signature-pad--body border">
            <canvas></canvas>
          </div> 
          <div class="signature-pad--footer mt-2">
            <span>SIGNED ON <%= DateTime.now.strftime('%m/%d/%Y') %></span>
            <button class="btn btn-secondary signature-pad--clear ml-1">Clear Signature</button>
          </div>
        </div>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-12">
      <%= f.check_box :notification_acceptance %>
      <%= f.label :notification_acceptance, "I would like to receive exciting product and event news from Nissan." %>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-12">
      <%= f.check_box :contact_acceptance %>
      <%= f.label :contact_acceptance, "I would like to be contacted by a Nissan dealer for more vehicle information." %>
    </div>
  </div>

  <%= f.submit "Submit", class: "btn btn-danger btn-lg btn-block signature-pad--save mb-4" %>
<% end %>